@model KrisnaldoApp.Models.SpelerViewModels.SpelerIndividueelStatistiek

@{

}

@{
    string sRandomVerslagVermelding = "";
    string naam = Model.Speler.VoorNaam + " " + Model.Speler.FamilieNaam;
    ViewData["Title"] = naam;

}

<h2> @naam</h2>

<div>
    <h4>Speler van de Krisnaldo's</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Aantal matchen
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speler.SpelerMatchen.Count)
        </dd>
        <dt>
            Aantal goals
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speler.Goals.Count)
        </dd>
        <dt>
            Aantal (geregistreerde) assists
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speler.Assists.Count)
        </dd>
    </dl>
</div>
@if (Model.QuotesUitVerslagen.Count > 0)
{
    int teller = 0;
    <hr />

        <p>In totaal wordt @Model.Speler.VoorNaam in @Model.QuotesUitVerslagen.Count verslag vermeld. Klik op het juiste seizoen om de vermeldingen uit dat seizoen te lezen.</p>

        @if (Model.SeizoenenWaarinHijVoorkomt.Count() > 0)
        {

            <ul class="pagination">
                @{
                    string lastseizoen = Model.SeizoenenWaarinHijVoorkomt.Last();}
                @foreach (string seizoennaam in Model.SeizoenenWaarinHijVoorkomt)

                {
                    string pagnaam = "pag" + seizoennaam;
                    @if (seizoennaam == lastseizoen)
                    {

                        //active class
                        <li class="like active" id="@pagnaam"><a>@seizoennaam</a></li>
                    }
                    else
                    {
                        <li id="@pagnaam" class="like"><a>@seizoennaam</a></li>
                    }
                }
            </ul>


                    @foreach (KeyValuePair<string, object[]> kvp in Model.QuotesUitVerslagen)
                    {
                        string seizoennaam = (string)((object[])kvp.Value)[0];

                        string linknaam = (string)((object[])kvp.Value)[2];
                        string displaystyle = (seizoennaam == lastseizoen) ? "normal" : "none";
                        <div class="@seizoennaam blockske" style="display:@displaystyle">
                            <blockquote class="blockquote">
                                <p class="mb-0">@String.Join(" (...) ", (List<string>)((kvp.Value)[1]))</p>
                                <footer class="blockquote-footer">uit <a href="@linknaam">het verslag</a> van @kvp.Key</footer>
                            </blockquote>
                        </div>
                    }
                    }
                    }

@foreach (string seizoennaam in Model.SeizoenenWaarinHijVoorkomt)
{
    string pagname = "pag" + seizoennaam;
    <script>
        document.getElementById('@pagname').addEventListener("click", function () {
            $('.blockske').hide();
            $('.' + '@seizoennaam').show();
            $(".like:not(#" + '@pagname' + ")").removeClass("active");
            $('#' + '@pagname').addClass("active");
        }, false);
    </script>
}
<hr />
<div>
    <a asp-action="Index">Terug naar de volledige spelerslijst</a>
</div>

