@model KrisnaldoApp.Models.StatistiekViewModels.CompetitieGoalOverzicht


@{
    ViewData["Title"] = "Competitiegoals van het seizoen " + Model.Seizoen.SeizoenNaam;
}
<div class="row">
    <div class="col-md-12">
        <div>
            Hier vind je <b>een overzicht van de doelpunten in de competitie @Model.Seizoen.SeizoenNaam</b>. Matchen in de beker, vrienschappelijke matchen en toernooienwedstrijden zijn buiten beschouwing gelaten.
        </div>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Weetjes</h3>
            </div>
            <div class="panel-body">
                <ul>
                    @foreach(var item in Model.LijstVanCompmatchen)
                    {
                        <li>@item.MatchOverzicht.Datum.ToString("dd/MM/yyyy")</li>

                    }
                    <li>
                        We hebben al @Model.AantalGespeeldeMatchen matchen gespeeld en hebben er nog @Model.NogTeSpelenMatchen te gaan.
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="@Model.GespeeldPercentage" aria-valuemin="0" aria-valuemax="100" style="@Model.AantalMatchenStyleWidthAttribute">
                                @Model.GespeeldPercentage % Compleet
                            </div>
                        </div>
                    </li>
                    <li>
                        Hiervan hebben we @Model.AantalMatchenGewonnen matchen gewonnen, @Model.AantalMatchenGelijk keer gelijkgespeeld en @Model.AantalMatchenVerloren keer het onderspit moeten delven.<div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="@Model.AantalMatchenGewonnenStyleWidthAttribute">
                                @Model.AantalMatchenGewonnen
                            </div>
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="@Model.AantalMatchenGelijkStyleWidthAttribute">
                                @Model.AantalMatchenGelijk
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="@Model.AantalMatchenVerlorenStyleWidthAttribute">
                                @Model.AantalMatchenVerloren
                            </div>
                        </div>
                    </li>
                    <li>
                        @if (Model.AantalCleanSheets == 0)
                        {
                            @:Onze keeper en verdediging hield dit seizoen nog niet de netten schoon.
                        }
                        else
                        {
                            @:Onze keeper en verdediging hield tot nu toe al @Model.AantalCleanSheets keer de netten schoon:
                            <ul>
                                @foreach (Match m in Model.MatchenMetCleanSheet)
                                {
                                    <li><a asp-controller="Matchen" asp-action="Details" asp-route-id="@m.MatchID">@KrisnaldoApp.Helpers.RandomMethods.PrintMatch(m)</a></li>
                                }
                            </ul>
                        }
                    </li>
                    @if (Model.AantalGoalsGescoord == 0)
                    {
                        <li>We hebben nog geen goals gescoord.</li>
                    }
                    else if (Model.AantalGoalsGescoord == 1)
                    {
                        <li>We hebben nog maar één goal gescoord.</li>
                    }
                    else
                    {
                        <li>We hebben @Model.AantalGoalsGescoord goals gescoord.</li>
                    }
                    @if (Model.AantalTegenGoals == 0)
                    {
                        <li>We hebben nog geen tegengoals geslikt.</li>
                    }
                    else if (Model.AantalTegenGoals == 1)
                    {
                        <li>We hebben één  tegengoal geslikt.</li>
                    }
                    else
                    {
                        <li>We hebben @Model.AantalTegenGoals tegengoals geslikt.</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">De Trouwe Hond</h3>
            </div>
            <div class="panel-body">
                <ol>
                    @foreach (KeyValuePair<string, int> entry in Model.dGespeeldDic.OrderByDescending(pair => pair.Value))
                    {
                        @if (@entry.Value == 1)
                        {
                            <li>@entry.Key: @entry.Value wedstrijd</li>
                        }
                        else
                        {

                            <li>@entry.Key: @entry.Value wedstrijden</li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">De Gouden Stier</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            @foreach (KeyValuePair<string, int> entry in Model.dScoorDic.OrderByDescending(pair => pair.Value))
                            {
                                @if (@entry.Value == 1)
                                {
                                    <li>@entry.Key: @entry.Value goal</li>
                                }
                                else
                                {

                                    <li>@entry.Key: @entry.Value goals</li>
                                }

                            }
                        </ol>

                    </div>
                </div>
            </div>
    <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">De Behulpzame Otter</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            @foreach (KeyValuePair<string, int> entry in Model.dAssistDic.OrderByDescending(pair => pair.Value))
                            {

                                @if (@entry.Value == 1)
                                {
                                    <li>@entry.Key: @entry.Value assist</li>
                                }
                                else
                                {

                                    <li>@entry.Key: @entry.Value assists</li>
                                }

                            }
                        </ol>
                    </div>
                </div>
            </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
        <div>
            <a asp-action="Index">Ga terug naar het overzicht van alle seizoenen</a>
        </div>
    </div>
</div>

